

body {
    background: blue;
}

h5{
    font-size: 1.4rem;
}       
/* Classes */



@media screen and (max-width:700px) {
    body{
        font-size: 10px;
        background-color: red;
    }

    main {
        margin: 50px;
    }

    header {
        background-color: green;
    }


    .formDiv {
        background-color: yellow;
        border-bottom: red;
    
    }
    
}